.floating-title {
	z-index: 2;
 	position: relative;
 	left: 50%;
 	width: 100%;
 	margin-left: -50%;
}

.fixed-top {
	display: block;
 	position: fixed;
 	top: 0px;
 	left: 50%;
 	width: 100%;
 	margin-left: -50%;
}
